version: 2.1

orbs:  
  python: circleci/python@1.0.0

jobs:  
  build:    
    executor:
      name: python/default
      tag: '3.7'
    steps:
      - checkout
      - run:
          name: Setup Virtual env
          command:
            python3 -m venv env           
            .\env\Scripts\activate 
      - run:
          name: Install Dependencies
          command: pip install -r requirements_cpu.txt

  test:    
    executor:
      name: python/default
      tag: '3.7'
    steps:
      - checkout
      - run:
          name: Differential testing
          command: git status 

  deploy:
    executor:
      name: python/default
      tag: '3.7'
    steps:
      - checkout
      - run:
          name: Deploy to Heroku
          command:
            git push https://heroku:$HEROKU_API_KEY@git.heroku.com/algorithm-library.git main
    
workflows:  
  build-test-and-deploy:    
    jobs:      
      - build:
          filters:            
            branches:
              only:
                - main
      - test:
          requires:
          - build
          filters:            
            branches:
              only:
                - main
      - deploy:
          requires:
          - test
          filters:            
            branches:
              only:
                - main